.allContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #292F36;
    padding: 2rem 0rem;
}

.scrollAndContactIconContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactIconAndTextContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;
    margin-top: 3rem;
}

.contactIconContainer{
    width: 180px;
    height: 75px;
}

.contactIcon{
    width: 100%;
    height: 100%;
}

.test{
    color: var(--white-color);
    font-family:var(--plex-mono-font) ;
    word-spacing: 0.2rem;
    font-size: 16px;
}

.theTextContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.sendText{
    width: fit-content;
    padding: 1rem;
    color: #12F7D6;
    border: 2px solid #12F7D6;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    word-spacing: 0.5rem;
    font-size: 1rem;
}

.nameAndEmailContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    column-gap: 2rem;
    /* background-color: #12F7D6; */
}

.nameContainer{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color: #12F7D6; */
    display: flex;
    row-gap: 1.1rem;
}

.emailContainer{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: flex;
    row-gap: 1.1rem;
}

.inputField{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #98FAEC;
    background-color: #292F36;


}

.inputField::placeholder{
    font-family:var(--ubuntu-font) ;
    color: white;
    font-size: 0.7rem;
}

.messageInputField::placeholder{
    font-family:var(--ubuntu-font) ;
    color: white;
    font-size: 0.7rem;
}



.messageInputField.error::placeholder {
    color: red;
}

.inputField.error::placeholder {
    color: red;
}

.errorMessage {
    color: red;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    font-size: 0.55rem;
}

.label{
   color:#12F7D6 ; 
   font-size:0.7rem ;
   font-family:var(--ubuntu-font) ;

}

.messageContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    align-items: center;

}

.messageInputField{
    width: 62%;
    border: none;
    border-bottom: 1px solid #98FAEC;
    background-color: #292F36;
    outline: none;
    padding-bottom: 0.2rem;

}

.messageInputField::placeholder{
    font-family:var(--ubuntu-font) ;
    color: white;
}

.messageLabel{
   
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: start;
 }

 .buttonContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
 }

 .button{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding:0.7rem 1rem;
   column-gap: 0.5rem;
   border-radius: 1rem;
   background-color: #12F7D6;
   cursor: pointer;
 }

 @media screen and (max-width : 1120px) {
    .scrollIconContainer{
        display: none;
    }

    .test{
        color: var(--white-color);
        font-family:var(--plex-mono-font) ;
        word-spacing: 0.2rem;
        font-size: 2rem;
    }

    .sendText{
        width: fit-content;
        padding: 1.5rem 3rem;
        color: #12F7D6;
        border: 4px solid #12F7D6;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        word-spacing: 0.5rem;
        font-size: 2rem;
    }

    .inputField{
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #98FAEC;
        background-color: #292F36;

    }

    .nameContainer{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* background-color: #12F7D6; */
        display: flex;
        row-gap: 1.5rem;
    }
    
    .emailContainer{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        display: flex;
        row-gap: 1.5rem;
    }

    .inputField::placeholder{
        font-family:var(--ubuntu-font) ;
        color: white;
        font-size: 1.1rem;
    }

    .label{
        color:#12F7D6 ; 
        font-size:1.1rem ;
        padding-bottom: 0.5rem;
        font-family:var(--ubuntu-font) ;
     
     }

     .messageLabel{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        font-size:1.1rem ;

     }

     .messageInputField{
        width: 85%;
        border: none;
        border-bottom: 1px solid #98FAEC;
        background-color: #292F36;
        outline: none;
        padding-bottom: 0.5rem;

    }

    .messageInputField::placeholder{
        font-family:var(--ubuntu-font) ;
        color: white;
        font-size: 1.1rem;

    }

    
 .button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:1.5rem 3rem;
    column-gap: 0.5rem;
    border-radius: 2.2rem;
    font-size: 1.8rem;
    background-color: #12F7D6;
    cursor: pointer;
    margin-top: 2rem;
  }

 }

 @media screen and (max-width : 480px){
    .scrollIconContainer{
        display: none;
    }

    .test{
        color: var(--white-color);
        font-family:var(--plex-mono-font) ;
        word-spacing: 0.2rem;
        font-size: 1rem;
    }

    .sendText{
        width: fit-content;
        padding: 1rem 2rem;
        color: #12F7D6;
        border: 2px solid #12F7D6;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        word-spacing: 0.5rem;
        font-size: 1.5rem;
    }

    .nameContainer{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* background-color: #12F7D6; */
        display: flex;
        row-gap: 1.1rem;
    }
    
    .emailContainer{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        display: flex;
        row-gap: 1.1rem;
    }

    .inputField{
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #98FAEC;
        background-color: #292F36;

    }

    .inputField::placeholder{
        font-family:var(--ubuntu-font) ;
        color: white;
        font-size: 0.8rem;
    }

    .label{
        color:#12F7D6 ; 
        font-size:0.9rem ;
        padding-bottom: 0.5rem;
        font-family:var(--ubuntu-font) ;
     
     }

     .messageLabel{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: start;
     }

     .messageInputField{
        width: 85%;
        border: none;
        border-bottom: 1px solid #98FAEC;
        background-color: #292F36;
        outline: none;
        padding-bottom: 0.5rem;

    }

    .messageInputField::placeholder{
        font-family:var(--ubuntu-font) ;
        color: white;
        font-size: 0.8rem;

    }

    
 .button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0.7rem 1.5rem;
    column-gap: 0.5rem;
    border-radius: 2.2rem;
    font-size: 1.3rem;
    background-color: #12F7D6;
    cursor: pointer;
  }

 }

 