.allContentContainer{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: row; 
    /* background-color: blue; */
    column-gap: 2rem;
    align-items: center;
    padding: 2rem 0rem;
    border-bottom: 1px solid white;
}

.imageContainer{
    width: 270px;
    height: 180px;
}

.image{
    width: 100%;
    height: 100%;
}

.allOtherContentContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

.headingContainer{
    color: #12F7D6;
}

.descriptionContainer{
    color: white;
    width: 100%;
}

.anchor{
    color: #12F7D6;
}


.stackAndContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    color: white;
}

.cssColor{
    color: #0C73B8;
}

.jsColor{
    color:#E7A020;
}

.reactColor{
 color: #28A9E0;
}

@media screen and (max-width : 1120px){
    .allContentContainer{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row; 
        /* background-color: blue; */
        column-gap: 2rem;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: 1px solid white;
    }

    .descriptionContainer{
        color: white;
        width: 100%;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .imageContainer{
        width: 400px;
        height: 200px;
    }

    .headingContainer{
        color: #12F7D6;
        font-size: 1.3rem;
    }

    .anchor{
        color: #12F7D6;
        font-size: 1.2rem;
    }

    .stackAndContentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        color: white;
    }
    
    .cssColor{
        color: #0C73B8;
        font-size: 1.2rem;

    }
    
    .jsColor{
        color:#E7A020;
        font-size: 1.2rem;

    }
    
    .reactColor{
     color: #28A9E0;
     font-size: 1.2rem;

    }
}

@media screen and (max-width : 480px) {
    .allContentContainer{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column; 
        /* background-color: blue; */
        row-gap: 2rem;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: 1px solid white;
    }

    
    .headingContainer{
        color: #12F7D6;
        font-size: 1.1rem;
        text-align: center;
    }

    .descriptionContainer{
        color: white;
        width: 100%;
        font-size: 1.3rem;
        line-height: 2.2rem;
        text-align: center;

    }

    .anchor{
        color: #12F7D6;
        font-size: 1.2rem;
        
    }

    .linkContainer{
        text-align: center;
        width: 100%;        
        height: auto;
        margin-bottom: 1rem;
    }

    .stackAndContentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        color: white;
        justify-content: center;
    }
    
    .cssColor{
        color: #0C73B8;
        font-size: 1.2rem;

    }
    
    .jsColor{
        color:#E7A020;
        font-size: 1.2rem;

    }
    
    .reactColor{
     color: #28A9E0;
     font-size: 1.2rem;

    }

    
.mongodbColor{
  color: #47A248; /* MongoDB green */
  font-size: 1.2rem;
}

.expressColor{
  color: #000000; /* Express black */
  font-size: 1.2rem;
}

.nodeColor{
  color: #339933; /* Node.js green */
  font-size: 1.2rem;
}

.tailwindColor{
  color: #38BDF8; /* Tailwind blue */
  font-size: 1.2rem;
}

    .imageContainer{
        width: 300px;
        height: 200px;
    }

}
  