.mainss {
    padding-top: 64px; /* Header height */
    /* padding-left: 192px;  */
    /* Nav width */
    height: 100vh;
    overflow-y: auto;
  }
  
  .layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .bodyContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #292F36;
  }
  
  .main {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: 104px;
  }
  